#mainBodyDisplayListFunctionalComponent{
    border: thin beige;
    outline-width: medium;
    background-color: beige;

}

#positionDisplayStateOfCustomerList{
    object-position: center;


}

#allElementInDisplayListFunctionalComponent{

    padding-bottom: 490px;
}


#fourButtonsToDisplayListDetail{

    margin-left: 3%;


}

#displayStateOfCustomerListMainDiv{
    /*background-color: beige;*/

}