#homePage{
    padding-bottom: 400px;
    padding-top: 20px;
}


#importantLoginInfoHomePage{
    font-size: 15px;
    text-align: center;
    color: darkred;
}

#TitleHomePage{

    margin-left: 1.5%;
}

#loginPage{

    background-image: url("./photo/backgroundLoginPage5small.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.98;
    padding-bottom: 200px;

}



#CustomerCreateOrDisplayListPage{

    background-image: url("./photo/backgroundUserListsSmall.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.98;
    padding-bottom: 300px;


}


#DisplayListFirstPage{

/*background-color: #9bc4ca;*/
    background-image: url("./photo/pexelsNoweSmall.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    /*background-size:1920px;*/
    opacity:0.98;
    padding-bottom: 100px;

}





#registerPage{
    background-color: #9bc4ca;

}


#loginOrRegister{
    text-align: center;
    margin-top:1%;


}


#myLuggage{
    text-align: center;
    margin-top:1%;
}


#myLuggageNewHomeButtons{
    text-align: center;
    margin-top:1%;
}

#loginContainer{
    padding-left: 10%;

}



#createCustomerListPackYourLuggage{
    background-color: #9bc4ca;
    padding-bottom: 20px;
}


#createCustomerList{
    text-align: center;
    margin-top:1%;


}

#loginIconAndName{
    margin-right: 52%;

}

#registerIconAndName{
    margin-right: 39%;

}


#myLuggageIconAndName{
    margin-right: 45%;

}

#payIconAndName{
    margin-right: 59%;

}

#adminIconAndName{
    margin-right: 50%;

}


#pay{
    text-align: center;
    margin-top:1%;

}

#adminButton{
    text-align: center;
    margin-top:1%;

}

#PageTitle{
    color: saddlebrown;
    font-size: calc(15px + 2vmin);
    text-align: center;

}

#PageTitleRegister{
    color: saddlebrown;
    font-size: calc(15px + 2vmin);
    text-align: center;
    margin-right: 50px;

}

#buttonSizeAdmin{
    width: 250px;
}


#buttonSizePay{
    width: 250px;
}
#buttonSizeRegister{
    width: 250px;
    /*box-shadow: 5px 10px;*/
}

#buttonSizeLogin{
    width: 250px;
}

#buttonSizeCreateList{
    width: 250px;
}



/*Button on HomeButtons*/
#buttonSizeMyLuggage{
    width: 250px;
}

#iconRegister{
    margin-right: 12px;

}

#iconLogin{
    margin-right: 13px;
}

#iconCreateList{
    margin-right: 18px;
}


#iconMyLuggage{
    margin-right: 13px;
}

#iconPay{
    margin-right: 18px;
}

#iconAdmin{
    margin-right: 13px;
}



#allButtons{
    padding-top: 5%;
    margin-right: 25%;
    opacity: 0.80;


}


.brand-logo{
    margin-left: 1.5%;
}


/*New Homebuttons style*/

#allButtonsNewHomeButtons{
    padding-top: 5%;
    margin-right: 0%;
    opacity: 0.90;

}

/*     NewHomeButtons      */
